.small {
  font: italic 1.3rem sans-serif;
}

.medium {
  font: italic 1.6rem sans-serif;
  font-weight: 400;
}

@media only screen and (max-width: 900px) {
  .small {
    font: italic 1rem sans-serif;
  }

  .medium {
    font: italic 1.2rem sans-serif;
  }
}
