.diagram {
    width: 100%;
    max-height: 50vh;
    min-height: 25vh;
    viewBox: 0 0 20 10;
    border: 1px solid black;
}

.vline {
    stroke: black;
}

.hline {
    stroke: orangered;
    stroke-width: 3px;
}