.diagram {
    width: 100%;
    min-height: 10vh;
    viewBox: 0 0 20 10;
    background-color: #DFCFBE;
    
}

.hline {
    stroke: orangered;
    stroke-width: 3px;
}

.message {
    font-size: 2rem;
}