.button {
  max-width: 20%;
  min-width: min-content;
  height: 90%;
  border-radius: 10%;
  transition: all 0.2s;
  background: linear-gradient(45deg, #396afc, #2948ff);
  margin: 0.4rem;
  padding: 0.2rem;
  cursor: pointer;
  border: none;
  color: aliceblue;
  letter-spacing: 0.4rem;
  text-transform: uppercase;
  font-size: 1.2rem;
  text-align: center;
  font-weight: 600;
}

.button:hover {
  transform: translateY(5px);
  transform: scale(1.05);
}


.button_small {
  min-width: fit-content;
  margin: 0.1rem;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
}


@media only screen and (max-width: 900px) {
  .button {
    font-size: 1rem;
  }
  .button_small {
    font-size: 0.7rem;
  }
}
