.navigation {
  background: linear-gradient(90deg, #7e7e7e, #585858);
  max-height: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.button_block {
  margin: 0.5rem;
  display: flex;
  width: min-content;
}

.language_button_block {
  margin: 0.5rem;
  height: 50%;
}
