.taskPanel {
  display: flex;
  align-content: center;
  justify-content: flex-end;
  margin-bottom: .3rem;
  flex-wrap: wrap;
}

.label {
  font-size: 1.2rem;
  text-align: left;
  flex-grow: 2;
}

.taskPanel:hover {
  background-color: rgba(100, 100, 100, 0.5);
}

.buttonContainer {
    padding: .2rem;
    display: flex;
    justify-content: flex-end;
    align-content: center;
    flex-wrap: wrap;
}

@media only screen and (max-width: 900px) {
    .taskPanel {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid black;
        margin-bottom: .5rem;
        flex-grow: 1;
    }
    .label {
        flex-grow: 2;
        text-align: center;
    }

    .buttonContainer {
        margin: .4rem;
        justify-content: stretch;
        flex-grow: 1;
    }
}
