.taskPanel {
    display: flex;
    align-content: center;
    justify-content: flex-end;

}

.label {
    font-size: 1.2rem;
    text-align: left;
    flex-grow: 2;

}

.taskPanel:hover {
    background-color: rgba(100, 100, 100, .5);
}