.textInputs {
    width: 100%;
}


.buttonArea {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.loginMessage {
    color: #ff8928;
    font-size: 1.6rem;
    font-weight: bold;
}